

.dashboard-header {
	border-bottom: solid #666 1px;
	padding-bottom: 10px;
}

.header--headliner {
	color: white;
}

.header--support {
	color: white;
	
}

.header--event-stats {
	color: white;
}

.headliner-text {
	margin-top: 0px;
}

.support-text, .event-stats-text {
	margin-top: 10px;
}

.support-text {
	font-size: small;
	line-height: 1;
}

