.row {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

p, h5 {
	color: #fafafa;
}

.tab-event {
	margin-top: 10px;
	margin-bottom: 10px;
}
.tab-artist {
	padding: 0px;
	margin: 0px;
	display: block;
}

.tab-date {
	margin: 0px;
}