

.row {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;

}

p, h5 {
	color: #fafafa;
}


.tab-event {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid 1px #bdbdbd;

}

.tab-event:hover {
	
	border-bottom: solid 1px #b3e5fc;
	
}



.tab-artist {
	padding: 0px;
	margin: 0px;
	display: block;
	z-index: -10;
}

.tab-date {
	margin: 0px;
}

