.guest--td{
  color: white;
}

.guest--td > p {
  line-height: 0;
}

.guest-name {
  padding-left: 5px;
}

.bordered {
	border-bottom: 1px solid white;
}

.bordered:hover {
	border-bottom: 1px solid #80d8ff ;
}