/*animation for welcome screen*/
@keyframes BackgroundGradient {
  0%{background-position: 25% 25%;}
  
  50%{background-position: 75% 75%;}
  
  100%{background-position: 25% 25%;}
}

/*application-wide default styles*/

html {
    font-family: Arial, Helvetica, sans-serif;
  }

body {
  margin: 0;
  font-size: 16px;
  background: linear-gradient(132deg, #461deb, #26b534);  /*red lighten-2  blue accent-2 */
  background-size: 1000% 1000%;
  animation: BackgroundGradient 30s ease infinite;

}

th, td {
  padding: 2px 0px 2px 0px;
}

.row {
  margin: 0px;
  padding: 2px 0px 2px 0px;
}

input {
  color: white;
}

.btn-small {
  margin: 3px;
}

h1, h2, h3, h4, h5 {
  color: white;
}

a {
  color: #e1f5fe;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: white; 
}

.text-center {
  text-align: center;
}

.dashboard-form {
  margin: 0px 0px 30px 0px;
  padding: 20px 20px 40px 20px;
  border-radius: 5px;
}

/*top bar styles*/

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}