@-webkit-keyframes color_change {
  0% { background-color: #252627; }
25% { background-color: #6200ea; }
50% { background-color: #2962ff; }
75% { background-color: #dd2c00; }
100% { background-color: #00c853; }
}
@-moz-keyframes color_change {
  0% { background-color: #252627; }
25% { background-color: #6200ea; }
50% { background-color: #2962ff; }
75% { background-color: #dd2c00; }
100% { background-color: #00c853; }
}
@-ms-keyframes color_change {
  0% { background-color: #252627; }
25% { background-color: #6200ea; }
50% { background-color: #2962ff; }
75% { background-color: #dd2c00; }
100% { background-color: #00c853; }
}
@-o-keyframes color_change {
  0% { background-color: #252627; }
25% { background-color: #6200ea; }
50% { background-color: #2962ff; }
75% { background-color: #dd2c00; }
100% { background-color: #00c853; }
}
@keyframes color_change {
  0% { background-color: #252627; }
25% { background-color: #6200ea; }
50% { background-color: #2962ff; }
75% { background-color: #dd2c00; }
100% { background-color: #00c853; }
}


body {
  margin: 0;
  font-size: 16px;
  color: #666;
  animation-name: color_change;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

a {
  color: #d32f2f;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #1976d2;
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}



#logoContainer {
  height: 20%;
}